html {
  font-size: 62.5%; /* 16px x 62.5 = 10px = 1rem */
  box-sizing: border-box;
}
body {
  margin: 0;
  height: 100vh;
  font-size: 1.6rem;
  color:rgb(66, 65, 65);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Karla', sans-serif;
}
#root {
  height: 100%;
}

/* Layout */
.grid-container {
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 20rem 1fr 8rem;
  height: 100%;
}
header {
  grid-area: header;
  color: #fdcc9a;
  background-color: #ffffff;
  height: 10rem;
  padding: 1rem 1rem;
}
main {
  grid-area: main;
  padding: 2rem 1rem;
}
footer {
  grid-area: footer;
  display: flex;
  flex-direction: column;
  background-color: #f1f1f1;
  color: #969696;
}
/* Common */
h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
  font-weight: lighter;
  font-size: 2.5rem;
  text-transform: uppercase;
}
h2 {
  font-size: 1.6rem;
  padding: 1rem 1rem;
  color: #969696;
  text-transform: uppercase;
  font-weight: normal;
}
h2.orange {
  font-family: "Fjalla One", sans-serif;
  color: #fdcc9a;
  letter-spacing: 0.2em;
}
h3 {
  margin: 0;
  padding: 1rem;
  color: #969696;
  font-weight: lighter;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}
a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  color: #faac5d;
}
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
li {
  margin-top: 1rem;
}
input,
select,
textarea,
button {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem #f7f7f7 solid;
  color: #ffffff;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
select,
textarea, 
input {
  color: #969696;
}
button {
  background-color: rgb(220, 196, 250);
  /* background-color: #f8f8f8; */
  cursor: pointer;
}
input:hover,
select:hover,
textarea:hover {
  border: 0.1rem #c4c3c3 solid;
}
button:hover {
  font-style: italic;
  color: #9375c4;
  font-weight: bold;
}
button.primary {
  background-color: #fdcc9a;
  letter-spacing: 0.2rem;
}
button.block {
  width: 100%;
}
button.small {
  font-size: 1.2rem;
  color: #969696;
}
button.clear {
  background-color: transparent;
  color: #969696;
  border: none;
}
.links {
  padding-bottom: 1rem;
  border-bottom: 1px solid orange;
}
.highlight {
  letter-spacing: 0.2rem;
}
/* Header */
header a {
  /* color: #fdcc9a; */
  padding: 0.8rem;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 600;
}
a.brand {
  color: #fdcc9a;
  font-size: 4rem;
  text-transform: uppercase;
  text-shadow: 1px 1px orange;
  font-weight: 400;
}
.badge {
  color: #fcac5c;
  border-radius: 50%;
  border: 1px solid #fcac5c;
  padding: 0.2rem 0.7rem;
  font-size: 1.4rem;
  margin-left: 0.2rem;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.row.center {
  justify-content: center;
}
.row.top {
  align-items: flex-start;
}
.row.start {
  justify-content: flex-start;
}
.margin-side {
  margin: 0 5rem;
}
.margin-side-lrg {
  margin: 0 10rem;
}
.col-1 {
  flex: 1 1 15rem;
  /* flex: 1 1 25rem; */
  padding: 0 2rem;
}
.col-2 {
  flex: 2 1 50rem;
}
.col-3 {
  flex: 32 1 75rem;
}
.min-30 {
  min-width: 30rem;
}
.p-1 {
  padding: 1rem;
}
/* Aside */
aside {
  position: fixed;
  width: 30rem;
  height: 100%;
  background-color: #fdcc9a;
  z-index: 1000;
  transform: translateX(-30rem);
  transition: all 0.5s;
}
aside.open {
  transform: translateX(0);
}
button.open-sidebar {
  font-size: 3rem;
  padding: 0.2rem 0.5rem;
  margin: 0 0.5rem;
  background: none;
  color: #fdcc9a;
  border: none;
  /* border-color: #fdcc9a; */
  /* color: #ffffff; */
  cursor: pointer;
}
button.open-sidebar:hover {
  border-color: #ffffff;
}
aside ul {
  padding: 1rem;
  list-style: none;
}
aside li {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  color: white;;
  font-family: "Karla", sans-serif;
  font-size: 2rem;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  text-shadow: 2px 2px wheat;
  cursor: pointer;
}
button.close-sidebar {
  padding: 0.3rem 0.8rem;
  color: white;
  border: none;
  background-color: transparent;
}

/* Image */
img {
  border-radius: 0.5rem;
}
img.small {
  max-width: 5rem;
  width: 100%;
}
img.medium {
  max-width: 29rem;
  /* width: 100%; */
  height: 25rem;
}
img.large {
  width: 100%;
}
.skate {
  filter: drop-shadow(2px 4px 6px rgb(155, 90, 6));
}
.logo {
  max-width: 7rem;
  width: 100%;
  filter: drop-shadow(2px 4px 6px rgb(155, 90, 6))
}
.logo-bg {
  background-position: center;
  margin-top: 10%;
  opacity: 0.2;
  transform: translateY(10);
  transition: transform 3s ease;
  animation: myanimation 3s;

}
@keyframes myanimation {
  0% {
    max-width: 15rem;
  }
  35% {
    max-width: 20rem;
  }
  100% {
    max-width: 30rem;
  }
}

/* Card */
.card {
  /* border: 0.1rem #c0c0c0 solid;
  background-color: #f8f8f8; */
  border-radius: 0.5rem;
  margin: 1rem;
  padding: 0.5rem;
}
.card-body {
  padding: 1rem;
}
.card-body > * {
  margin-bottom: 0.5rem;
}
.card-body.width-third {
  width: 30rem;
  text-align: center;
}
.price {
  font-size: 2rem;
  color: #969696;
}
/* Alert */
.loading {
  display: block !important;
}
.success {
  color: #20a020;
}
.danger {
  color: #a02020;
}
.alert {
  padding: 1rem;
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;
}
.alert-info {
  color: #2020a0;
  background-color: #e0e0ff;
}
.alert-danger {
  color: #a02020;
  background-color: #ffe0e0;
}
.alert-success {
  color: #20a020;
  background-color: #eeffe0;
}
/* Form */
.form {
  max-width: 60rem;
  margin: 5rem auto;
}
.form > div {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}
.form label {
  margin: 1rem auto;
}

/* Dropdown */
.dropdown {
  display: inline-block;
  position: relative;
}
.search-page {
  color: #969696;
  padding: 1rem;
  text-transform: uppercase;
}
.dropdown-content {
  position: absolute;
  display: none;
  right: 0;
  min-width: 12rem;
  padding: 1rem;
  z-index: 1;
  background-color: #decaf7;
  margin: 0;
  margin-top: 0.4rem;
  border-radius: 0.5rem;
}
.dropdown-content > li {
  color: rgb(66, 65, 65);
}
.dropdown-content > li > a:hover {
  font-weight: 700;
  color: rgb(125, 70, 161) !important;
}
.dropdown:hover .dropdown-content {
  display: block;
}
/* Checkout Steps */
.checkout-steps {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
  color: rgb(220, 196, 250);
}
.checkout-steps > div {
  border-top: 0.3rem rgb(220, 196, 250) solid; 
  /* border-top: 0.3rem #c0c0c0 solid; */
  color:rgb(220, 196, 250);
  /* color: #c0c0c0; */
  padding: 1rem;
  font-weight: bold;
  display: flex;
  align-items: flex-start;
}
.checkout-steps > i {
  color: rgb(220, 196, 250);
  transform: scale(1.5);
}
.checkout-steps > div.active {
  border-top-color: #fdcc9a;
  color: #fdcc9a;
}
/* Social */
.social i{
  padding: 1rem;
  transform: scale(1.3);
}
/* Table */
.table {
  width: 100%;
  border-collapse: collapse;
}
.table tbody tr:nth-of-type(odd) {
  background-color: #f4f4f4;
}
.table td,
.table th {
  text-align: left;
  border: 0.1rem solid #e4e4e4;
  padding: 0.5rem;
}
.table button {
  margin: 0 0.2rem;
}
/* Search */
.search button {
  border-radius: 0 0.5rem 0.5rem 0;
  /* border-right: none; */
  margin-right: 0.5rem;
}
.search input {
  border-radius: 0.5rem 0 0 0.5rem;
  border-right: none;
  margin-left: 0.5rem;
}
.active {
  color: #9375c4;
  font-weight: bold;
}
.padding {
  padding-left: 2rem;
}
.category {
  color: #fdcc9a;
  text-align: center;
  font-weight: 800;
}
.search-option {
  padding-left: 2rem;
}

/* Map */
.full-container {
  margin: -1rem;
  height: calc(100% + 2rem);
}
.map-input-box {
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0.5rem auto;
  width: 25rem;
  height: 4rem;
  display: flex;
}
.map-input-box input {
  border-radius: 1rem 0 0 1rem;
  border-right: 0;
}
.map-input-box button {
  border-radius: 0 1rem 1rem 0;
  border-left: 0;
}
/* Pagination */
.pagination a {
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
  border: 0.1rem #a4a4a4 solid;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.pagination a.active {
  font-weight: bold;
}
/* contact */
.contact {
  display: flex;
}
.contact h2{
  text-shadow: 1px 1px orange;
  font-size: 5rem;
}
.contact input, textarea {
  height: 2em;
  font-size: 1.2em;
  border-top: none;
  border-right: none;
  border-left: none;
  border-radius: 0px;
  width: 100%;
  color: #a3a2a2;
}
.contact textarea {
  width: 100%;
}

/* Sign in  */
.center {
  text-align: center;
}
.visitor {
  display: flex;
  justify-content: center;
  align-self: center;
  color:rgb(220, 196, 250) !important;
}